/* latin-ext */
@font-face {
	font-family: 'DS-Digital';
	font-style: normal;
	font-weight: 300;
	src: local('DS Digital'), local('DS-Digital'), url('../../fonts/DS-Digital.ttf') format('truetype');
}

.value{
	font-family: 'DS-Digital';
	text-align: right;
	font-size: 35px ;
	color: #ffff00 ; 
	padding: 0px 20px 0px 0px;
}

.tag{
    font-family: 'Arial';
    color:white;
    padding: 1px 1px 1px 20px;
    font-weight: bold;
}

.tag-yellow{
    font-family: 'Arial';
    color:yellow;
    padding: 1px 1px 1px 20px;
    font-weight: bold;
}

.tag-red{
    font-family: 'Arial';
    color:red;
    padding: 1px 1px 1px 20px;
    font-weight: bold;
}

.tag-green{
    font-family: 'Arial';
    color:green;
    padding: 1px 1px 1px 20px;
    font-weight: bold;
}

.tag-cyan{
    font-family: 'Arial';
    color:'#16f7e0';
    padding: 1px 1px 1px 1px;
}

.box.box-black {
  border-top-color: #000;
}

.table-bordered-black {
  border: 1px solid #000000;
}

.status-normal{
	background-color: #1cff60 ;
	text-align: center;
	color: black;
	width: 100%;
	font-weight: bold;
	font-size: 20px ;
}

.status-warning{
	background-color: #ffff00 ;
	text-align: center;
	color: black;
	width: 100%;
	font-weight: bold;
	font-size: 20px ;
}

.status-abnormal{
	background-color: #ff1c1c ;
	text-align: center;
	color: white;
	width: 100%;
	font-weight: bold;
	font-size: 20px ;
}

.status-off{
	background-color: #ffffff ;
	text-align: center;
	color: black;
	width: 100%;
	font-weight: bold;
	font-size: 20px ;
}

.panel-line {
	background-color: #000;
	border-radius: 0px;
	margin-top: 20px;
}

.panel-line > .panel-header {
	padding: 5px 20px;
	color: #fff
}

.line-wrapper {
	padding: 15px;
	margin-top: -25px;	
}

.line-wrapper .line {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.line-title {
	color: #fff;
}

.line.ok {
	background-color: #5daa68;
}

.line.ok p {
	color: #000 !important;
}

.line.error {
	background-color: #bf4848
}

.line.dandory {
	animation:blinking 1s infinite;
	color: #ffffff;
}

.line.error-supply {
	background-color: #ffffff;
}

.line.error-supply > .line-title {
	color: #1c1c1c !important;
}

@media(max-width:450px) {
	.line-wrapper .line {
		padding: 7px 3px 0px 3px;
		text-align: center;
	}

	.line-title {
		font-size: 11px !important;
	}

	.modal-line-error .modal-info .info-value {
		font-size: 18px !important;
	}

	.panel-line .panel-header .title {
		font-size: 20px ;
	}
}

@media(max-width:330px) {
	.line-title {
		font-size: 20px !important;
	}
}

@media(min-width:451px) {
	.line-title {
		font-size: 19px;
	}

	.panel-header .subtitle {
		font-size: 20px;
	}
}

@media(min-width:551px) {
	.line-title {
		font-size: 20px;
	}

	.panel-header .subtitle {
		font-size: 20px;
	}
}

@media(min-width:768px) {
	.line-title {
		font-size: 25px;
	}

	.panel-header .subtitle {
		font-size: 20px;
	}
}

@media(min-width:992px) {
	.line-title {
		font-size: 34px;
	}

 	.panel-header .subtitle {
		font-size: 20px;
	}

	.modal-line-error .modal-info .info-value {
		font-size: 40px !important;
	}
}

@media(min-width:1200px){
	.line-title {
		font-size: 42px;
	}

	.panel-header .subtitle {
		font-size: 25px;
	}

	.modal-line-error .modal-info .info-value {
		font-size: 50px !important;
	}
}

@media (min-width: 1600px) {
	.container {
	    width: 1570px;
	}
}

@media (min-width: 2000px) {
	.container {
	    width: 1970px;
	}
}

@media (min-width: 885px) {
	.modal-line-error .modal-dialog {
		width: 80vw;
	}
}

.modal-line-error .modal-header {
	background-color: #bf1007;
}

.modal-line-error .modal-info .info-title, .modal-line-error .modal-info .info-value {
	font-weight: bold;
}

.modal-line-error .modal-info .info-value {
	margin-top: 0px;
	margin-bottom: 20px;
}